PyQt6>=6.4.0
mss>=9.0.1
Pillow>=9.5.0
deep-translator>=1.11.4
winrt-Windows.Media.Ocr>=2.0.0
winrt-Windows.Storage.Streams>=2.0.0
winrt-Windows.Graphics.Imaging>=2.0.0
winrt-Windows.Foundation>=2.0.0
winrt-Windows.Globalization>=2.0.0
winrt-Windows.Foundation.Collections>=2.0.0


